# Configurações do Supabase (Projeto: Projetos Pessoais)
SUPABASE_URL=https://nfhiqwyvluoqzluzuxup.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5maGlxd3l2bHVvcXpsdXp1eHVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1ODUwODgsImV4cCI6MjA5ODE2MTA4OH0.LgS7OFLUyT4wAHk5VoE-DeKxhv2-jq9QHvdysq2mVJk

# Frontend Vite Env (Variáveis para cadastrar na Vercel)
VITE_SUPABASE_URL=https://nfhiqwyvluoqzluzuxup.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5maGlxd3l2bHVvcXpsdXp1eHVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1ODUwODgsImV4cCI6MjA5ODE2MTA4OH0.LgS7OFLUyT4wAHk5VoE-DeKxhv2-jq9QHvdysq2mVJk
VITE_API_URL=http://localhost:8000/api
